In [21]:
import pandas as pd
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import precision_score, recall_score, roc_auc_score, confusion_matrix, log_loss

In [22]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier

In [3]:
df1=pd.read_csv("/Users/dariareichkina/Projects/Project4/Resources/application_train.csv")

In [4]:
colums_stay = ["EXT_SOURCE_3", "EXT_SOURCE_2", "EXT_SOURCE_1", "AMT_ANNUITY", "DAYS_ID_PUBLISH", "DAYS_BIRTH", "DAYS_LAST_PHONE_CHANGE", "DAYS_REGISTRATION", "DAYS_EMPLOYED", "AMT_CREDIT", "AMT_GOODS_PRICE", "TARGET"]

In [5]:
df=df1[colums_stay]

In [6]:
df.head(10)

,EXT_SOURCE_3,EXT_SOURCE_2,EXT_SOURCE_1,AMT_ANNUITY,DAYS_ID_PUBLISH,DAYS_BIRTH,DAYS_LAST_PHONE_CHANGE,DAYS_REGISTRATION,DAYS_EMPLOYED,AMT_CREDIT,AMT_GOODS_PRICE,TARGET
0,0.139376,0.262949,0.083037,24700.5,-2120,-9461,-1134.0,-3648.0,-637,406597.5,351000.0,1
1,NaN,0.622246,0.311267,35698.5,-291,-16765,-828.0,-1186.0,-1188,1293502.5,1129500.0,0
2,0.729567,0.555912,NaN,6750.0,-2531,-19046,-815.0,-4260.0,-225,135000.0,135000.0,0
3,NaN,0.650442,NaN,29686.5,-2437,-19005,-617.0,-9833.0,-3039,312682.5,297000.0,0
4,NaN,0.322738,NaN,21865.5,-3458,-19932,-1106.0,-4311.0,-3038,513000.0,513000.0,0
5,0.621226,0.354225,NaN,27517.5,-477,-16941,-2536.0,-4970.0,-1588,490495.5,454500.0,0
6,0.492060,0.724000,0.774761,41301.0,-619,-13778,-1562.0,-1213.0,-3130,1560726.0,1395000.0,0
7,0.540654,0.714279,NaN,42075.0,-2379,-18850,-1070.0,-4597.0,-449,1530000.0,1530000.0,0
8,0.751724,0.205747,0.587334,33826.5,-3514,-20099,0.0,-7427.0,365243,1019610.0,913500.0,0
9,NaN,0.746644,NaN,20250.0,-3992,-14469,-1673.0,-14437.0,-2019,405000.0,405000.0,0

In [7]:
df.isna().sum()

EXT_SOURCE_3               60965
EXT_SOURCE_2                 660
EXT_SOURCE_1              173378
AMT_ANNUITY                   12
DAYS_ID_PUBLISH                0
DAYS_BIRTH                     0
DAYS_LAST_PHONE_CHANGE         1
DAYS_REGISTRATION              0
DAYS_EMPLOYED                  0
AMT_CREDIT                     0
AMT_GOODS_PRICE              278
TARGET                         0
dtype: int64

In [7]:
df.dtypes

EXT_SOURCE_3              float64
EXT_SOURCE_2              float64
EXT_SOURCE_1              float64
AMT_ANNUITY               float64
DAYS_ID_PUBLISH             int64
DAYS_BIRTH                  int64
DAYS_LAST_PHONE_CHANGE    float64
DAYS_REGISTRATION         float64
DAYS_EMPLOYED               int64
AMT_CREDIT                float64
AMT_GOODS_PRICE           float64
TARGET                      int64
dtype: object

In [8]:
df["EXT_SOURCE_3"].median()

0.5352762504724826

In [9]:
df["EXT_SOURCE_3"].mean()

0.5108529061799658

In [8]:
df["EXT_SOURCE_3"] = df["EXT_SOURCE_3"].fillna(df["EXT_SOURCE_3"].median())

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_65077/3835614279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EXT_SOURCE_3"] = df["EXT_SOURCE_3"].fillna(df["EXT_SOURCE_3"].median())

In [22]:
df.isna().sum()

EXT_SOURCE_3              0
EXT_SOURCE_2              0
EXT_SOURCE_1              0
AMT_ANNUITY               0
DAYS_ID_PUBLISH           0
DAYS_BIRTH                0
DAYS_LAST_PHONE_CHANGE    0
DAYS_REGISTRATION         0
DAYS_EMPLOYED             0
AMT_CREDIT                0
AMT_GOODS_PRICE           0
TARGET                    0
dtype: int64

In [9]:
df["EXT_SOURCE_2"].median()

0.5659614260608526

In [10]:
df["EXT_SOURCE_2"] = df["EXT_SOURCE_2"].fillna(df["EXT_SOURCE_2"].median())

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_65077/4246636549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EXT_SOURCE_2"] = df["EXT_SOURCE_2"].fillna(df["EXT_SOURCE_2"].median())

In [11]:
df["EXT_SOURCE_1"] = df["EXT_SOURCE_1"].fillna(df["EXT_SOURCE_1"].median())

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_65077/517329733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EXT_SOURCE_1"] = df["EXT_SOURCE_1"].fillna(df["EXT_SOURCE_1"].median())

In [12]:
df["AMT_ANNUITY"] = df["AMT_ANNUITY"].fillna(df["AMT_ANNUITY"].median())

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_65077/3830314723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AMT_ANNUITY"] = df["AMT_ANNUITY"].fillna(df["AMT_ANNUITY"].median())

In [13]:
df["AMT_GOODS_PRICE"] = df["AMT_GOODS_PRICE"].fillna(df["AMT_GOODS_PRICE"].median())

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_65077/3432755476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AMT_GOODS_PRICE"] = df["AMT_GOODS_PRICE"].fillna(df["AMT_GOODS_PRICE"].median())

In [14]:
df["DAYS_LAST_PHONE_CHANGE"] = df["DAYS_LAST_PHONE_CHANGE"].fillna(df["DAYS_LAST_PHONE_CHANGE"].median())

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_65077/181405627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DAYS_LAST_PHONE_CHANGE"] = df["DAYS_LAST_PHONE_CHANGE"].fillna(df["DAYS_LAST_PHONE_CHANGE"].median())

In [23]:
df.shape

(307511, 12)

In [15]:
df.TARGET.value_counts(normalize=True)

0    0.919271
1    0.080729
Name: TARGET, dtype: float64

In [16]:
df=pd.concat([df[df.TARGET==0].sample(frac=0.15),df[df.TARGET==1]])

In [26]:
df.shape

(67228, 12)

In [17]:
X = df.drop(['TARGET'], axis=1)
y = df['TARGET']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=42)

In [18]:
params = {
    'boosting_type': 'gbdt',
    'metric': ['auc', 'binary_logloss', 'binary_error'],
    'learning_rate': 0.1,
    'n_estimators':200,
    'num_leaves':50,
    'max_depth': 50,
    'objective': 'binary',
    'is_unbalance': True
}
pipeline = Pipeline([
    ('oversample', SMOTE(random_state=42)),  # Oversampling minority class
    ('undersample', RandomUnderSampler(random_state=42)),  # Undersampling majority class
    ('clf', LGBMClassifier(**params))  # LightGBM classifier
])
pipeline.fit(X_train, y_train)

# Evaluate the model on the test set
accuracy = pipeline.score(X_test, y_test)
print("Accuracy:", accuracy)

#clf = lgb.LGBMClassifier()
#clf.fit(X_train,y_train,eval_set=[(X_test,y_test),(X_train,y_train)],)

[LightGBM] [Info] Number of positive: 31802, number of negative: 31802
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001674 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2762
[LightGBM] [Info] Number of data points in the train set: 63604, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000
Accuracy: 0.6739453799012316

In [19]:
print(metrics.classification_report(y_test,pipeline.predict(X_test)))

              precision    recall  f1-score   support

           0       0.76      0.70      0.73     10601
           1       0.55      0.62      0.59      6206

    accuracy                           0.67     16807
   macro avg       0.66      0.66      0.66     16807
weighted avg       0.68      0.67      0.68     16807